<html>
<body>
<form method="POST">
<TABLE BORDER="5"    WIDTH="100%" >
   <TR>
      <TH COLSPAN="4"><BR><H3>CREDIT</H3>
      <TH COLSPAN="2"><BR><H3>DEBIT</H3>
      
      </TH>
   </TR>
   <TR>
      <TH>date</TH>
      <TH>job no</TH>
      <TH>name</TH>
      <TH>total amount</TH>
      <TH>MODE OF PAYMENT</TH>
      <TH>amount</TH>
   </TR>
   </TR>
   <TR ALIGN="CENTER">
      <TD>DATE</TD>
      <TD>{{job_no}}</TD>
      <TD>{{ clients.name }}</TD>
      <TD>{{ bill.price }}</TD>
      <TD>Data 1</TD>
      <TD>{{totals.net_total}}</TD>
   </TR>
</TABLE>
</form>
</body>
</html>

